{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'bulma.css' | asset_url | stylesheet_tag }}

<div
  class="hero-small"
  tyle="background-color: {{ settings.background_color }};"
>
  <div></div>
</div>

{% schema %}
{
  "name": "Hero Small",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Couleur de fond",
      "default": "#efefef"
    }
  ]
}
{% endschema %}
