<div class="hero-main"></div>

{% schema %}
{
  "name": "Hero Big",
  "tag": "section",
  "presets": [
    {
      "name": "Hero Big",
      "settings": {
        "title": "Hero Big"
      }
    }
  ]
}
{% endschema %}
