{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'bulma.css' | asset_url | stylesheet_tag }}

<div
  class="hero-small"
  style="background-color: {{ settings.bg }};"
>
  hey : {{ settings.bg }}
  <div></div>
</div>

{% schema %}
{
  "name": "Hero Small",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Couleur de fond",
      "default": "#efefef"
    }
  ],
  "tag": "section",
  "presets": [
    {
      "name": "Hero Small"
    }
  ]
}
{% endschema %}
