{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'bulma.css' | asset_url | stylesheet_tag }}

<div
  class="hero-small"
  style="
    {% unless settings.color_background == blank %}
      {{ settings.color_background }}
    {% endunless %}
  "
>
  <div></div>
</div>

{% schema %}
{
  "name": "Hero Small",
  "tag": "section",
  "presets": [
    {
      "name": "Hero Small"
    }
  ]
}
{% endschema %}
