{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'bulma.css' | asset_url | stylesheet_tag }}

<div
  class="hero-small"
  style="background-color: {{ settings.bg }};"
>
  <div>{{ settings.bg }}</div>
</div>

{% schema %}
{
  "name": "Hero G",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Couleur de fond",
      "default": "#efefef"
    }
  ]
}
{% endschema %}
