{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'bulma.css' | asset_url | stylesheet_tag }}

<div
  class="hero-collection"
  style="background-color: {{ section.settings.color_bg  }};"
>
  <div></div>
</div>

{% schema %}
{
  "name": "Hero Collection",
  "tag": "section",
  "presets": [{ "name": "Hero Collection" }],
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": "Couleur de fond",
      "default": "#efefef"
    }
  ]
}
{% endschema %}
