{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'bulma.css' | asset_url | stylesheet_tag }}

<div class="hero-main">
  <div class="bulma-container">
    <div class="bulma-columns bulma-is-variable bulma-is-6">
      <div class="bulma-column bulma-is-three-fifths">
        <div class="hero-main-left">
          <div class="bulma-columns">
            <div class="bulma-column bulma-is-half">
              <div class="hero-main-left-product">
                <div class="hero-main-left-product-img">
                  <div class="bulma-is-flex bulma-is-justify-content-flex-end">
                    <span class="bulma-tag bulma-is-warning bulma-is-light bulma-is-large">Nouveau pièce unique</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="bulma-column bulma-is-half">
              <div class="hero-main-left-product">
                <div class="hero-main-left-product-img">
                  <div class="bulma-is-flex bulma-is-justify-content-flex-end">
                    <span class="bulma-tag bulma-is-warning bulma-is-light bulma-is-large">Nouveau pièce unique</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bulma-mt-3 bulma-is-flex bulma-is-justify-content-space-between bulma-is-align-items-center">
            <div>
              <span>Retrouvez toutes les dernières pierres uniques.</span>
            </div>
            <div>
              <a href="" class="bulma-button bulma-is-white">Accéder aux ventes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bulma-column bulma-is-two-fifths">
        <div class="hero-main-right bulma-is-flex bulma-is-flex-direction-column bulma-is-justify-content-flex-end bulma-has-text-centered">
          <div class="">
            <h2>Les perles de l'été et de la mer</h2>
            <a href="" class="bulma-button bulma-is-white">Découvrir la collection</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Big",
  "tag": "section",
  "presets": [
    {
      "name": "Hero Big"
    }
  ]
}
{% endschema %}
