.hero-main {
  background: #f2eee9;
}

.hero-main-left {
  height: 575px;
  padding: 35px;
  background: #cff7f9;
}

.hero-main-right {
  height: 575px;
  padding: 35px;
  background: #062c24;
}

.hero-main-right h2 {
  color: #fff;
}

.hero-main-left-product {
  height: 415px;
  background: #fff;
}

.hero-main-left-product-img {
  height: 325px;
  padding: 10px;
  background: #f4f4f4;
}
