.hero-main {
  background: #f2eee9;
}

.hero-main-left {
  height: 575px;
  padding: 50px;
  background: #e7fdfe;
}

.hero-main-right {
  height: 575px;
  padding: 35px;
  background: #005c5b;
}

.hero-main-right h2 {
  color: #d6e3b7;
}

.hero-main-left-product {
  height: 250px;
  background: #fff;
}

.hero-main-left-product-img {
  height: 200px;
  padding: 10px;
  background: #f4f4f4;
}

.hero-main-left-big-img {
  height: 225px;
  background: #fff;
}
